#nav-container {
  display: flex;
  width: 100vw;
  background-color: white;
  margin-left: -0.5rem;
  margin-top: -1rem;
  align-items: baseline;
  justify-content: space-between;
}

#site-header {
  font-family: 'Montserrat', sans-serif;
  color: #0290ff;
  margin: 1.8rem 2.13rem 1.5rem 6.13rem ;
  }

#links {
  display: flex;
  justify-content: space-evenly;
  margin-left: -14rem;
}

.nav-item {
  margin-right: 2rem;
  font-size: 0.8rem;
  color: rgb(131, 131, 131);
  margin-top: .8rem;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 1.9px;
}

.nav-item:hover {
  color: black;
}

.user-logo {
  width: 1.063rem;
  height: 1.063rem;
  color: #0290ff;
  margin-right: 2rem;
}
